# .env

# Port the application will listen on.
PORT=3000

# MongoDB connection URI
MONGODB_URI=mongodb://root:rootpassword@mongodb:27017/bawsaq_bot?authSource=admin

BOT_TOKEN=

SESSION_SECRET=

MINI_APP_URL=

ADMIN_TELEGRAM_IDS=

TELEGRAM_INIT_DATA_TTL=3600

MINI_APP_ASSET_VERSION=2